<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azia.diplom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeApp1">
        <activity
            android:name=".mainMenu.MainActivity"
            android:theme="@style/ThemeApp1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".schedule.ScheduleActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/ThemeApp2" />
        <activity
            android:name=".timer.TimerActivity"
            android:label="@string/title_activity_timer"
            android:theme="@style/ThemeApp3" />
        <activity
            android:name=".schedule.AddScheduleActivity"
            android:label="@string/title_activity_add_schedule"
            android:theme="@style/ThemeApp3" />
        <activity
            android:name=".object.ObjectActivity"
            android:label="@string/title_activity_object"
            android:theme="@style/ThemeApp3" />
        <activity android:name=".object.AddObjectActivity" />
        <activity
            android:name=".homeWork.HomeWorkActivity"
            android:label="@string/title_activity_home_work"
            android:theme="@style/ThemeApp3" />
        <activity android:name=".homeWork.AddHomeWorkActivity" />
        <activity
            android:name=".notes.NoteActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/ThemeApp1" />
        <activity android:name=".notes.AddNoteActivity"></activity>
    </application>

</manifest>